<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRO.Data.Global.Properties.Settings.PROConnectionString"
            connectionString="Data Source=FDONMEZ;Initial Catalog=PRO;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>