<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRO.Data.Properties.Settings.PROConnectionString"
            connectionString="Data Source=ABRA\SQLEXPRESS;Initial Catalog=PRO;Persist Security Info=True;User ID=sa;Password=fat1hh3313?"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>